{
    "id": "{{service.name}}",
    "cpus": {{mongodb.cpus}},
    "mem": {{mongodb.mem}},
    "instances": {{mongodb.instances}},
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{resource.assets.container.docker.mongodb}}",
            "network": "BRIDGE",
            "portMappings": [
                {
                    "containerPort": 27017,
                    "hostPort": 0,
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{mongodb.vip_host}}:{{mongodb.vip_port}}" }
                }
            ],
            "parameters": [
                {
                    "key": "volume-driver",
                    "value": "flocker"
                },
                {
                    "key": "volume",
                    "value": "mongodata:/data/db"
                }
            ],
            "privileged": false,
            "forcePullImage": {{mongodb.force-pull-image}}
        }
    }
}
