{
    "id": "{{service.name}}",
    "cpus": {{mysql.cpus}},
    "mem": {{mysql.mem}},
    "instances": 1,
    "env": {
        {{#mysql.database.name}}
        "MYSQL_DATABASE": "{{mysql.database.name}}",
        {{#mysql.database.username}}
        "MYSQL_USER": "{{mysql.database.username}}",
        "MYSQL_PASSWORD": "{{mysql.database.password}}",
        {{/mysql.database.username}}
        {{/mysql.database.name}}
        "MYSQL_ROOT_PASSWORD": "{{mysql.root_password}}",
        "MYSQL_CONTEXT": "/service/{{service.name}}"
    },
    "container": {
        "type": "DOCKER",
            "volumes": [
      {
        "containerPath": "/var/lib/mysql",
        "external": {
          "name": "mysql",
          "provider": "dvdi",
          "options": {
            "dvdi/driver": "rexray"
          }
        },
        "mode": "RW"
      }
    ],
        "docker": {
            "image": "{{resource.assets.container.docker.mysql-docker}}",
            "forcePullImage": true,
            {{#mysql.bridge}}
            "network": "BRIDGE",
            "portMappings": [
                {
                "containerPort": 3306,
                "hostPort": 0,
                "protocol": "tcp",
                "labels": { "VIP_0": "{{mysql.vip_host}}:{{mysql.vip_port}}" }
                }
            ],
            "parameters": [
            ]
            {{/mysql.bridge}}
            {{^mysql.bridge}}
            "network": "HOST"
            {{/mysql.bridge}}
        }
    },
    {{^mysql.bridge}}
    "portDefinitions": [
    {
            "port": 3306,
            "protocol": "tcp",
            "name": "mysql",
            "labels": {}
    }
    ],
    "requirePorts": true,
    {{/mysql.bridge}}
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "healthChecks": [
    {
        "protocol": "TCP",
        "portIndex": 0,
        "gracePeriodSeconds": 300,
        "intervalSeconds": 60,
        "timeoutSeconds": 20,
        "maxConsecutiveFailures": 3,
        "ignoreHttp1xx": false
    }
    ],
    "labels": {
        "DCOS_SERVICE_NAME": "{{service.name}}",
        "DCOS_SERVICE_SCHEME": "http",
        "DCOS_SERVICE_PORT_INDEX": "0",
        "MARATHON_SINGLE_INSTANCE_APP":"true"
    },
    "upgradeStrategy":{
        "minimumHealthCapacity": 0,
        "maximumOverCapacity": 0
    }
}
