{
    "id": "/tradefora/{{tf-i18.name}}",
    "cpus": {{tf-i18.cpus}},
    "mem": {{tf-i18.memory}},
    "disk": {{tf-i18.disk}},
    "instances": {{tf-i18.instances}},
    "acceptedResourceRoles": ["*", "slave_public"],
    "container": {
        "type": "DOCKER",
        "volumes": [],
        "docker": {
            "image": "{{resource.assets.container.docker.tf-i18}}",
            "network": "BRIDGE",
            "privileged": false,
            "forcePullImage": {{tf-i18.force-pull-image}},
            "portMappings": [
                {
                    "containerPort": {{tf-i18.container-port}},
                    "hostPort": {{tf-i18.host-port}},
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{tf-i18.vip_host}}:{{tf-i18.vip_port}}" }
                }
            ]
        }
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "healthChecks": [
        {
      "gracePeriodSeconds": 180,
      "intervalSeconds": 30,
      "maxConsecutiveFailures": 10,
      "portIndex": 0,
      "timeoutSeconds": 10,
      "delaySeconds": 15,
      "protocol": "MESOS_HTTP",
      "path": "/i18n/api/v1/locales/en"
    }
    ],
    "maxLaunchDelaySeconds": 20, 
     "labels": {
    "HAPROXY_GROUP": "external",
    "HAPROXY_0_ENABLED": "true",
    "HAPROXY_0_PATH": "/i18n",
    "HAPROXY_0_VHOST": "api.tradefora.com"
  }
}
