{
    "id": "{{service.name}}",
    "cpus": {{mysql.cpus}},
    "mem": {{mysql.mem}},
    "instances": {{mysql.instances}},
    "env": {
        "MYSQL_ROOT_PASSWORD": "{{mysql.root_password}}",
        "MYSQL_DATABASE": "{{mysql.database}}"
    },
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{resource.assets.container.docker.mysql}}",
            "network": "BRIDGE",
            "portMappings": [
                {
                    "containerPort": 3306,
                    "hostPort": 0,
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{mysql.vip_host}}:{{mysql.vip_port}}" }
                }
            ],
            "parameters": [
                {
                    "key": "volume-driver",
                    "value": "flocker"
                },
                {
                    "key": "volume",
                    "value": "mysqldata:/var/lib/mysql"
                }
            ],
            "privileged": false,
            "forcePullImage": {{mysql.force-pull-image}}
        }
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "healthChecks": [
    {
        "protocol": "TCP",
        "portIndex": 0,
        "gracePeriodSeconds": 30,
        "intervalSeconds": 10,
        "timeoutSeconds": 20,
        "maxConsecutiveFailures": 3,
        "ignoreHttp1xx": false
    }
    ],
    "upgradeStrategy": {
        "minimumHealthCapacity": 0.5,
        "maximumOverCapacity": 0
    }
}
