{
    "id": "/tradefora/flink/{{job.name}}",
    "cpus": {{job.cpus}},
    "mem": {{job.memory}},
    "disk": {{job.disk}},
    "instances": {{job.instances}},
    "env": {
      "VIP": "{{job.vip-host}}",
      "CLUSTER":"{{job.env}}",
      "ARTIFACT_REPO": "{{job.artifact.repo}}",
      "ARTIFACT_GROUP": "{{job.artifact.group}}",
      "ARTIFACT_ID": "{{job.artifact.artifactId}}",
      "ARTIFACT_PACKAGING": "{{job.artifact.packaging}}",
      "ARTIFACT_CLASSIFIER": "{{job.artifact.classifier}}",
      "FLINK_PROCESS_NAME": "job",
      "HA_MODE": "{{job.config.ha.mode}}",
      "HA_ZOOKEEPER_QUORUM": "{{job.config.ha.zookeeper.quorum}}",
      "HA_ZOOKEEPER_PATH_ROOT": "{{job.config.ha.zookeeper.path.root}}",
      "HA_ZOOKEEPER_PATH_NAMESPACE": "{{job.config.ha.zookeeper.path.namespace}}",
      "SPRING_PROFILES": "{{job.config.spring.profiles}}",
      "CONFIG_FLINK_REMOTE": "{{job.config.flink.remote}}",
      "CONFIG_FLINK_PARALLELISM": "{{job.config.flink.parallelism}}",
      "CONFIG_FLINK_SAVEPOINT": "{{job.config.flink.savepoint}}",
      "CONFIG_KAFKA_CONSUMER_ID": "{{job.config.kafkaConsumerId}}"
    },
    "cmd": "export JAVA_HOME=$MESOS_DIRECTORY/jre && ./artifact-resolver.sh -u nexus:nexus -r $ARTIFACT_REPO -g $ARTIFACT_GROUP -a $ARTIFACT_ID -c $ARTIFACT_CLASSIFIER -p $ARTIFACT_PACKAGING && flink-*/bin/mesos-session run *context.jar --spring.profiles.active $SPRING_PROFILES --parallelism $CONFIG_FLINK_PARALLELISM --flink.kafka.consumer.id $CONFIG_KAFKA_CONSUMER_ID",
    "uris":[
        "{{resource.assets.uris.artifact-resolver-tgz}}",
        "{{resource.assets.uris.jre-tgz}}",
        "{{resource.assets.uris.flink_tgz}}"
    ]
}
