{
    "id": "/tradefora/{{tf-config-server.name}}",
    "cpus": {{tf-config-server.cpus}},
    "mem": {{tf-config-server.memory}},
    "disk": {{tf-config-server.disk}},
    "instances": {{tf-config-server.instances}},
    "acceptedResourceRoles": ["*", "slave_public"],
    "container": {
        "type": "DOCKER",
        "volumes": [],
        "docker": {
            "image": "{{resource.assets.container.docker.tf-config-server}}",
            "network": "BRIDGE",
            "privileged": false,
            "forcePullImage": {{tf-config-server.force-pull-image}},
            "portMappings": [
                {
                    "containerPort": {{tf-config-server.container-port}},
                    "hostPort": {{tf-config-server.host-port}},
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{tf-config-server.vip_host}}:{{tf-config-server.vip_port}}" }
                }
            ]
        }
    },
    "env": {
        "NN_HOSTNAME": "{{tf-config-server.nn_hostname}}",
        "CLUSTER":"{{tf-config-server.env}}"
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "healthChecks": [
        {
            "path": "/application/default",
            "protocol": "HTTP",
            "portIndex": 0,
            "gracePeriodSeconds": 180,
            "intervalSeconds": 20,
            "timeoutSeconds": 5,
            "maxConsecutiveFailures": 3,
            "ignoreHttp1xx": false
        }
    ],
    "maxLaunchDelaySeconds": 20
}
