{
    "id": "/tradefora/{{tf-rts27.name}}",
    "cpus": {{tf-rts27.cpus}},
    "mem": {{tf-rts27.memory}},
    "disk": {{tf-rts27.disk}},
    "instances": {{tf-rts27.instances}},
    "acceptedResourceRoles": ["*", "slave_public"],
    "container": {
        "type": "DOCKER",
        "volumes": [],
        "docker": {
            "image": "{{resource.assets.container.docker.tf-rts27}}",
            "network": "BRIDGE",
            "privileged": false,
            "forcePullImage": {{tf-rts27.force-pull-image}},
            "portMappings": [
                {
                    "containerPort": {{tf-rts27.container-port}},
                    "hostPort": {{tf-rts27.host-port}},
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{tf-rts27.vip_host}}:{{tf-rts27.vip_port}}" }
                }
            ]
        }
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "healthChecks": [
        {
      "gracePeriodSeconds": 180,
      "intervalSeconds": 30,
      "maxConsecutiveFailures": 10,
      "portIndex": 0,
      "timeoutSeconds": 10,
      "delaySeconds": 15,
      "protocol": "MESOS_HTTP",
      "path": "/"
    }
    ],
    "maxLaunchDelaySeconds": 20,
    "labels": {
        "HAPROXY_GROUP": "external",
        "HAPROXY_0_ENABLED": "true",
        "HAPROXY_0_VHOST": "rts27.tradefora.com",
        "HAPROXY_0_REDIRECT_TO_HTTPS": "true"
    },
    "env": {
        "TARGET_CLUSTER": "{{tf-rts27.env}}"
    }
}
