{
    "id": "{{service.name}}",
    "cpus": {{influxdb.cpus}},
    "mem": {{influxdb.mem}},
    "instances": {{influxdb.instances}},
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{resource.assets.container.docker.influxdb}}",
            "network": "BRIDGE",
            "portMappings": [
                {
                    "containerPort": 8086,
                    "hostPort": 0,
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{influxdb.vip_host}}:{{influxdb.vip_api_port}}" }
                },
                {
                    "containerPort": 8083,
                    "hostPort": 0,
                    "protocol": "tcp",
                    "labels": { "VIP_1": "{{influxdb.vip_host}}:{{influxdb.vip_web_port}}" }
                }
            ],
            "parameters": [
                {
                    "key": "volume-driver",
                    "value": "flocker"
                },
                {
                    "key": "volume",
                    "value": "influxdata:/var/lib/influxdb"
                }
            ],
            "privileged": false,
            "forcePullImage": {{influxdb.force-pull-image}}
        }
    }
}
