{
    "id": "/tradefora/fix4j/{{app.name}}",
    "cpus": {{app.cpus}},
    "mem": {{app.memory}},
    "disk": {{app.disk}},
    "instances": {{app.instances}},
    "acceptedResourceRoles": ["*", "slave_public"],
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{resource.assets.container.docker.tracker}}",
            "network": "BRIDGE",
            "privileged": false,
            "forcePullImage": {{app.force-pull-image}},
            "portMappings": [
                {
                    "containerPort": {{app.container-port}},
                    "hostPort": {{app.host-port}},
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{app.vip_host}}:{{app.vip_port}}" }
                }
            ]
        }
    },
    "env": {
        "VIP": "{{app.vip_host}}",
        "SPRING_PROFILES":"{{app.profiles}}",
        "APP_OPTS":"{{app.opts}}",
        "CLUSTER": "{{app.target-cluster}}"
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "healthChecks": [
        {
            "path": "/actuator/health",
            "protocol": "HTTP",
            "portIndex": 0,
            "gracePeriodSeconds": 60,
            "intervalSeconds": 5,
            "timeoutSeconds": 20,
            "maxConsecutiveFailures": 3,
            "ignoreHttp1xx": false
        }
    ],
        "labels": {


    "HAPROXY_GROUP": "external",
    "HAPROXY_0_ENABLED": "true",
    "HAPROXY_0_VHOST": "auth.tradefora.com"
  }
}
