{
    "id": "/tradefora/{{tf-terminal-tracker.name}}",
    "cpus": {{tf-terminal-tracker.cpus}},
    "mem": {{tf-terminal-tracker.memory}},
    "disk": {{tf-terminal-tracker.disk}},
    "instances": {{tf-terminal-tracker.instances}},
    "acceptedResourceRoles": ["*", "slave_public"],
    "container": {
        "type": "DOCKER",
        "volumes": [],
        "docker": {
            "image": "{{resource.assets.container.docker.tf-terminal-tracker}}",
            "network": "BRIDGE",
            "privileged": true,
            "forcePullImage": {{tf-terminal-tracker.force-pull-image}},
            "portMappings": [
                {
                    "containerPort": {{tf-terminal-tracker.container-port}},
                    "hostPort": {{tf-terminal-tracker.host-port}},
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{tf-terminal-tracker.vip-host}}:{{tf-terminal-tracker.vip-port}}" }
                }
            ]
        }
    },
    "env": {
        "VIP": "{{tf-terminal-tracker.vip-host}}",
        "CLUSTER":"{{tf-terminal-tracker.env}}"
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "healthChecks": [
        {
            "path": "/health",
            "protocol": "HTTP",
            "portIndex": 0,
            "gracePeriodSeconds": 120,
            "intervalSeconds": 20,
            "timeoutSeconds": 60,
            "maxConsecutiveFailures": 6,
            "ignoreHttp1xx": false
        }
    ]
}
