{
    "id": "/{{management-center.name}}",
    "cpus": {{management-center.cpus}},
    "mem": {{management-center.memory}},
    "disk": {{management-center.disk}},
    "instances": {{management-center.instances}},
    "acceptedResourceRoles": ["*", "slave_public"],
    "container": {
        "type": "DOCKER",
        "volumes": [],
        "docker": {
            "image": "{{resource.assets.container.docker.management-center}}",
            "network": "BRIDGE",
            "privileged": false,
            "forcePullImage": {{management-center.force-pull-image}},
            "portMappings": [
                {
                    "containerPort": {{management-center.container-port}},
                    "hostPort": {{management-center.host-port}},
                    "labels": {
                        "VIP_0": "{{management-center.port-vip-label}}"
                    },
                    "protocol": "tcp",
                    "name": "{{management-center.port-name}}"
                }
            ]
        }
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "maxLaunchDelaySeconds": 20
}