{
    "id": "/tradefora/{{tf-api-server2.name}}",
    "cpus": {{tf-api-server2.cpus}},
    "mem": {{tf-api-server2.memory}},
    "disk": {{tf-api-server2.disk}},
    "instances": {{tf-api-server2.instances}},
    "acceptedResourceRoles": ["*", "slave_public"],
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{resource.assets.container.docker.tf-api-server2}}",
            "network": "BRIDGE",
            "privileged": false,
            "forcePullImage": {{tf-api-server2.force-pull-image}},
            "portMappings": [
                {
                    "containerPort": {{tf-api-server2.container-port}},
                    "hostPort": {{tf-api-server2.host-port}},
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{tf-api-server2.vip-host}}:{{tf-api-server2.vip-port}}" }
                }
            ]
        }
    },
    "env": {
        "VIP": "{{tf-api-server2.vip-host}}",
        "CLUSTER":"{{app.env}}"
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "healthChecks": [
        {
            "path": "/health",
            "protocol": "HTTP",
            "portIndex": 0,
            "gracePeriodSeconds": 300,
            "intervalSeconds": 5,
            "timeoutSeconds": 20,
            "maxConsecutiveFailures": 3,
            "ignoreHttp1xx": false
        }
    ]
}
