{
    "id": "{{service.name}}",
    "cpus": {{phpmyadmin.cpus}},
    "mem": {{phpmyadmin.mem}},
    "instances": {{phpmyadmin.instances}},
    "env": {
        "MYSQL_USERNAME": "{{phpmyadmin.mysql-user}}",
        "MYSQL_PORT_3306_TCP_ADDR": "{{phpmyadmin.mysql_host}}",
        "MYSQL_PORT_3306_TCP_PORT": "{{phpmyadmin.mysql_port}}"
    },
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{resource.assets.container.docker.phpmyadmin}}",
            "network": "BRIDGE",
            "portMappings": [
                {
                    "containerPort": 80,
                    "hostPort": 0,
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{phpmyadmin.vip_host}}:{{phpmyadmin.vip_port}}" }
                }
            ],
            "privileged": false,
            "forcePullImage": {{phpmyadmin.force-pull-image}}
        }
    },
    "healthChecks": [
        {
            "protocol": "HTTP",
            "path": "/",
            "portIndex": 0,
            "gracePeriodSeconds": 30,
            "intervalSeconds": 30,
            "timeoutSeconds": 20,
            "maxConsecutiveFailures": 3
        }
    ]
}
