{
    "id": "/tradefora/feedguard/{{app.name}}",
    "cpus": {{app.cpus}},
    "mem": {{app.memory}},
    "disk": {{app.disk}},
    "instances": {{app.instances}},
    "acceptedResourceRoles": ["*", "slave_public"],
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{resource.assets.container.docker.app}}",
            "network": "BRIDGE",
            "privileged": false,
            "forcePullImage": {{app.force-pull-image}},
            "portMappings": [
                {
                    "containerPort": {{app.container-port}},
                    "hostPort": {{app.host-port}},
                    "protocol": "tcp"
                }
            ]
        }
    },
    "env": {
        "APP_OPTS":"{{app.opts}}",
        "CLUSTER": "{{app.target-cluster}}"
        "JVM_MAX_MEM": "{{app.jvm-heap-size}}"
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "healthChecks": [
        {
            "path": "/metric",
            "protocol": "HTTP",
            "portIndex": 0,
            "gracePeriodSeconds": 300,
            "intervalSeconds": 5,
            "timeoutSeconds": 20,
            "maxConsecutiveFailures": 3,
            "ignoreHttp1xx": false
        }
    ]
}