{
    "id": "/tradefora/fix4j/{{app.name}}",
    "cpus": {{app.cpus}},
    "mem": {{app.memory}},
    "disk": {{app.disk}},
    "instances": {{app.instances}},
    "acceptedResourceRoles": ["*", "slave_public"],
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{resource.assets.container.docker.tf-secor}}",
            "network": "BRIDGE",
            "privileged": false,
            "forcePullImage": {{app.force-pull-image}},
            "portMappings": [
                {
                    "containerPort": {{app.container-port}},
                    "hostPort": {{app.host-port}},
                    "protocol": "tcp"
                }
            ]
        }
    },
    "env": {
        "APP_OPTS":"{{app.opts}}",
        "CLUSTER": "{{app.target-cluster}}",
        "CONSUL_PORT":"{{app.consul-port}}"
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "healthChecks": [],
    "labels": {},
    "taskKillGracePeriodSeconds": 60
}
