{
    "id": "/tradefora/{{tf-oauth-server.name}}",
    "cpus": {{tf-oauth-server.cpus}},
    "mem": {{tf-oauth-server.memory}},
    "disk": {{tf-oauth-server.disk}},
    "instances": {{tf-oauth-server.instances}},
    "acceptedResourceRoles": ["*", "slave_public"],
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{resource.assets.container.docker.tf-oauth-server}}",
            "network": "BRIDGE",
            "privileged": false,
            "forcePullImage": {{tf-oauth-server.force-pull-image}},
            "portMappings": [
                {
                    "containerPort": {{tf-oauth-server.container-port}},
                    "hostPort": {{tf-oauth-server.host-port}},
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{tf-oauth-server.vip_host}}:{{tf-oauth-server.vip_port}}" }
                }
            ]
        }
    },
    "env": {
        "VIP": "{{tf-oauth-server.vip_host}}",
        "CLUSTER":"{{tf-oauth-server.env}}"
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "healthChecks": [
        {
            "path": "/health",
            "protocol": "HTTP",
            "portIndex": 0,
            "gracePeriodSeconds": 60,
            "intervalSeconds": 5,
            "timeoutSeconds": 20,
            "maxConsecutiveFailures": 3,
            "ignoreHttp1xx": false
        }
    ],
        "labels": {


    "HAPROXY_GROUP": "external",
    "HAPROXY_0_ENABLED": "true",
    "HAPROXY_0_VHOST": "auth.tradefora.com"
  }
}
