{
    "id": "/tradefora/samza/samza-{{config.name}}",
    "cpus": {{config.cpus}},
    "mem": {{config.memory}},
    "disk": {{config.disk}},
    "instances": {{config.instances}},
    "cmd": "export JAVA_HOME=$MESOS_DIRECTORY/jre && bin/run-job.sh --config-factory=org.apache.samza.config.factories.PropertiesConfigFactory --config-path=\"{{config.config-path}}\" --config=job.coordinator.server.port=$PORT0 --config=mesos.package.path={{resource.assets.uris.samza-tgz}}  --config=mesos.jre.path={{resource.assets.uris.jre-tgz}} --config=systems.kafka.producer.bootstrap.servers=`curl -s {{config.kafka-connection}} | python -c 'import sys, json; j = json.load(sys.stdin); print(\",\".join(j[\"address\"]))'` --config=mesos.executor.memory.mb={{config.task-memory}}",
    "uris":[
        "{{resource.assets.uris.samza-tgz}}",
        "{{resource.assets.uris.jre-tgz}}"
    ],
    "ports": [
        0
    ],
    "healthChecks": [
        {
          "protocol": "HTTP",
          "gracePeriodSeconds": 60,
          "intervalSeconds": 30,
          "portIndex": 0,
          "timeoutSeconds": 30,
          "maxConsecutiveFailures": 3
        }
    ]
}
