{
    "id": "/tradefora/{{tf-terminal-manager.name}}",
    "cpus": {{tf-terminal-manager.cpus}},
    "mem": {{tf-terminal-manager.memory}},
    "disk": {{tf-terminal-manager.disk}},
    "instances": {{tf-terminal-manager.instances}},
    "acceptedResourceRoles": ["*", "slave_public"],
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{resource.assets.container.docker.tf-terminal-manager}}",
            "network": "BRIDGE",
            "privileged": false,
            "forcePullImage": {{tf-terminal-manager.force-pull-image}},
            "portMappings": [
                {
                    "containerPort": {{tf-terminal-manager.container-port}},
                    "hostPort": {{tf-terminal-manager.host-port}},
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{tf-terminal-manager.vip-host}}:{{tf-terminal-manager.vip-port}}" }
                }
            ]
        }
    },
    "labels": { "MARATHON_SINGLE_INSTANCE_APP": "true" },
    "env": {
        "VIP": "{{tf-terminal-manager.vip-host}}",
        "CLUSTER":"{{tf-terminal-manager.env}}"
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "upgradeStrategy":{
        "minimumHealthCapacity": 0,
        "maximumOverCapacity": 0
    },
    "healthChecks": [
        {
            "path": "/health",
            "protocol": "HTTP",
            "portIndex": 0,
            "gracePeriodSeconds": 120,
            "intervalSeconds": 20,
            "timeoutSeconds": 60,
            "maxConsecutiveFailures": 6,
            "ignoreHttp1xx": false
        }
    ]
}
