{
    "id": "{{service.name}}",
    "cpus": {{opentsdb.cpus}},
    "mem": {{opentsdb.mem}},
    "instances": {{opentsdb.instances}},
    "env": {
        "VMARGS": "-enableassertions -enablesystemassertions",
        "TSD_CONF_tsd__storage__hbase__zk_quorum": "{{opentsdb.zk-quorum}}",
        "TSD_CONF_tsd__network__port": "{{opentsdb.port}}",
        "TSD_CONF_tsd__storage__hbase_zk_basedir": "/hbase",
        "TSD_CONF_tsd__storage__salt__bucket": "{{opentsdb.salt_bucket}}",
        "TSD_CONF_tsd__storage__salt__width": "{{opentsdb.salt_width}}",
        "COMPRESSION": "{{opentsdb.compression}}",
        "CREATE_TABLES": "{{opentsdb.create-tables}}",
        "CORE_CONF_fs_defaultFS": "hdfs://{{opentsdb.hdfs-namenode}}"
    },
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{resource.assets.container.docker.opentsdb}}",
            "network": "BRIDGE",
            "portMappings": [
                {
                    "containerPort": {{opentsdb.port}},
                    "hostPort": 0,
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{opentsdb.vip_host}}:{{opentsdb.vip_port}}" }
                }
            ],
            "forcePullImage": {{opentsdb.force-pull-image}}
        }
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "maxLaunchDelaySeconds": 30,
    "healthChecks": [
        {
            "path": "/",
            "protocol": "HTTP",
            "portIndex": 0,
            "gracePeriodSeconds": 300,
            "intervalSeconds": 15,
            "timeoutSeconds": 5,
            "maxConsecutiveFailures": 3
        }
    ],
    "upgradeStrategy": {
        "maximumOverCapacity": 0,
        "minimumHealthCapacity": 0
    }
}
