{
  "id": "/flink/taskmanager",
  "cpus": {{taskmanager.cpus}},
  "mem": {{taskmanager.mem}},
  "disk": {{taskmanager.disk}},
  "instances": {{taskmanager.instances}},
  "cmd": "export JAVA_HOME=$MESOS_SANDBOX/jre; flink-*/bin/mesos-session",
  "env": {
    "FLINK_ENV_JAVA_HOME": "{{env.java_home}}",
    "FLINK_ENV_JAVA_OPTS": "{{env.java_opts}}",
    "FLINK_ENV_LOG_DIR": "{{env.log_dir}}",
    "FLINK_PROCESS_NAME": "taskmanager",
    "FLINK_TM_HEAP": "{{taskmanager.mem}}",
    "FLINK_TM_JAVA_OPTS": "{{taskmanager.java_opts}}",
    "FLINK_TM_HOSTNAME": "{{taskmanager.rpc.address}}",
    "FLINK_TM_NUMBER_TASK_SLOTS": "{{taskmanager.cpus}}",
    "FLINK_TM_MEMORY_SIZE": "{{taskmanager.memory.size}}",
    "FLINK_TM_MEMORY_FRACTION": "{{taskmanager.memory.fraction}}",
    "FLINK_TM_MEMORY_OFF_HEAP": "{{taskmanager.memory.off_heap}}",
    "FLINK_TM_MEMORY_SEGMENT_SIZE": "{{taskmanager.memory.segment_size}}",
    "FLINK_TM_MEMORY_PREALLOCATE": "{{taskmanager.memory.preallocate}}",
    "FLINK_TM_NETWORK_NB_BUFFERS": "{{taskmanager.network.numberOfBuffers}}",
    "FLINK_TM_NETWORK_DEFAULT_IO_MODE": "{{taskmanager.network.defaultIOMode}}",
    "FLINK_TM_RUNTIME_HASHJOIN_BLOOM_FILTERS": "{{taskmanager.runtime.hashjoin_bloom_filters}}",
    "FLINK_TM_RUNTIME_MAX_FAN": "{{taskmanager.runtime.max_fan}}",
    "FLINK_TM_RUNTIME_SORT_SPILLING_THRESHOLD": "{{taskmanager.runtime.sort_spilling_threshold}}",
    "FLINK_TM_DEBUG_MEMORY_START_LOG_THREAD": "{{taskmanager.debug_memory_startLogThread}}",
    "FLINK_TM_DEBUG_MEMORY_LOG_INTERVAL_MS": "{{taskmanager.debug_memory_logIntervalMs}}",
    "FLINK_TM_TMP_DIRS": "{{taskmanager.tmp_dirs}}",
    "BLOB_STORAGE_DIR": "{{blob.storage_dirs}}",
    "BLOB_FETCH_RETRIES": "{{blob.fetch_retries}}",
    "BLOB_FETCH_NUM_CONCURRENT": "{{blob.fetch_num_concurrent}}",
    "BLOB_FETCH_BACKLOG": "{{blob.fetch_backlog}}",
    "FS_DEFAULT_SCHEME": "{{fs.default_scheme}}",
    "FS_OVERWRITE_FILES": "{{fs.overwrite_files}}",
    "FS_OUTPUT_ALWAYS_CREATE_DIRECTORY": "{{fs.output_always_create_directory}}",
    "FS_HDFS_HADOOPCONF": "{{fs.hadoopconf}}",
    "FS_HDFS_HDFSDEFAULT": "{{fs.hdfs_default}}",
    "FS_HDFS_HDFSSITE": "{{fs.hdfs_site}}",
    "COMPILER_DELIMITED_INFORMAT_MIN_LINE_SAMPLES": "{{compiler.delimited_informat_min_line_samples}}",
    "COMPILER_DELIMITED_INFORMAT_MAX_LINE_SAMPLES": "{{compiler.delimited_informat_max_line_samples}}",
    "COMPILER_DELIMITED_INFORMAT_MAX_SAMPLE_LEN": "{{compiler.delimited_informat_max_sample_len}}",
    "AKKA_ASK_TIMEOUT": "{{akka.ask_timeout}}",
    "AKKA_LOOKUP_TIMEOUT": "{{akka.lookup_timeout}}",
    "AKKA_FRAME_SIZE": "{{akka.frame_size}}",
    "AKKA_WATCH_HEARTBEAT_INTERVAL": "{{akka.watch.heartbeat_interval}}",
    "AKKA_WATCH_HEARTBEAT_PAUSE": "{{akka.watch.heartbeat_pause}}",
    "AKKA_WATCH_THRESHOLD": "{{akka.watch.threshold}}",
    "AKKA_TRANSPORT_HEARTBEAT_INTERVAL": "{{akka.transport.heartbeat_interval}}",
    "AKKA_TRANSPORT_HEARTBEAT_PAUSE": "{{akka.transport.heartbeat_pause}}",
    "AKKA_TRANSPORT_THRESHOLD": "{{akka.transport.threshold}}",
    "AKKA_TCP_TIMEOUT": "{{akka.tcp_timeout}}",
    "AKKA_THROUGHPUT": "{{akka.throughput}}",
    "AKKA_LOG_LIFECYCLE_EVENTS": "{{akka.log_lifecycle_events}}",
    "AKKA_STARTUP_TIMEOUT": "{{akka.startup_timeout}}",
    "RECOVERY_MODE": "{{recovery.mode}}",
    "RECOVERY_ZOOKEEPER_QUORUM": "{{recovery.zookeeper.quorum}}",
    "RECOVERY_ZOOKEEPER_PATH_ROOT": "{{recovery.zookeeper.path.root}}",
    "RECOVERY_ZOOKEEPER_PATH_NAMESPACE": "{{recovery.zookeeper.path.namespace}}",
    "RECOVERY_ZOOKEEPER_PATH_JOBGRAPHS": "{{recovery.zookeeper.path.jobgraphs}}",
    "RECOVERY_ZOOKEEPER_PATH_CHECKPOINTS": "{{recovery.zookeeper.path.checkpoints}}",
    "RECOVERY_ZOOKEEPER_PATH_CHECKPOINT_COUNTER": "{{recovery.zookeeper.path.checkpoint-counter}}",
    "RECOVERY_ZOOKEEPER_PATH_LATCH": "{{recovery.zookeeper.path.latch}}",
    "RECOVERY_ZOOKEEPER_PATH_LEADER": "{{recovery.zookeeper.path.leader}}",
    "RECOVERY_ZOOKEEPER_CLIENT_SESSION_TIMEOUT": "{{recovery.zookeeper.client.session_timeout}}",
    "RECOVERY_ZOOKEEPER_CLIENT_CONNECTION_TIMEOUT": "{{recovery.zookeeper.client.connection_timeout}}",
    "RECOVERY_ZOOKEEPER_CLIENT_RETRY_WAIT": "{{recovery.zookeeper.client.retry_wait}}",
    "RECOVERY_ZOOKEEPER_CLIENT_MAX_RETRY_ATTEMPTS": "{{recovery.zookeeper.client.max_retry_attempts}}",
    "RECOVERY_ZOOKEEPER_STORAGE_DIR": "{{recovery.zookeeper.storageDir}}",
    "RECOVERY_JOB_DELAY": "{{recovery.job_delay}}",
    "RESTART_STRATEGY": "{{restart.strategy}}",
    "RESTART_STRATEGY_FIXED_DELAY_ATTEMPTS": "{{restart.strategy.fixed_delay.attempts}}",
    "RESTART_STRATEGY_FIXED_DELAY_DELAY": "{{restart.strategy.fixed_delay.delay}}",
    "FLINK_PARALLELISM": "{{parallelism_default}}",
    "TASK_CANCELATION_INTERVAL": "{{task_cancellation_interval}}",
    "STATE_BACKEND": "{{state_backend.type}}",
    "STATE_SAVEPOINTS_DIR": "{{state_backend.savepointsDir}}",
    "STATE_CHECKPOINTS_DIR": "{{state_backend.checkpointsDir}}",
    "STATE_BACKEND_FS_CHECKPOINT_DIR": "{{state_backend.fsCheckpointsDir}}"
  },
  "uris": [
    "{{resource.assets.uris.jre-tar-gz}}",
    "{{resource.assets.uris.flink_tgz}}"
  ],
  "portDefinitions": [
    {
      "port": {{taskmanager.rpc.port}},
      "protocol": "tcp",
      "name": "rpc",
      "labels": {
        
      }
    },
    {
      "port": {{taskmanager.data_port}},
      "protocol": "tcp",
      "name": "data",
      "labels": {
        
      }
    },
    {
      "port": {{akka.tcp_port}},
      "protocol": "tcp",
      "name": "akka",
      "labels": {

      }
    }
  ],
  "healthChecks": [
    {
      "protocol": "TCP",
      "portIndex": 0,
      "gracePeriodSeconds": 600,
      "intervalSeconds": 15,
      "timeoutSeconds": 60,
      "maxConsecutiveFailures": 3,
      "ignoreHttp1xx": false
    },
    {
      "protocol": "TCP",
      "portIndex": 1,
      "gracePeriodSeconds": 600,
      "intervalSeconds": 15,
      "timeoutSeconds": 60,
      "maxConsecutiveFailures": 3,
      "ignoreHttp1xx": false
    }
  ],
  "acceptedResourceRoles": ["*", "slave_public"]
}
