{
    "id": "/tradefora/{{tf-admin.name}}",
    "cpus": {{tf-admin.cpus}},
    "mem": {{tf-admin.memory}},
    "disk": {{tf-admin.disk}},
    "instances": {{tf-admin.instances}},
    "acceptedResourceRoles": ["*", "slave_public"],
    "container": {
        "type": "DOCKER",
        "volumes": [],
        "docker": {
            "image": "{{resource.assets.container.docker.tf-admin}}",
            "network": "BRIDGE",
            "privileged": false,
            "forcePullImage": {{tf-admin.force-pull-image}},
            "portMappings": [
                {
                    "containerPort": {{tf-admin.container-port}},
                    "hostPort": {{tf-admin.host-port}},
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{tf-admin.vip_host}}:{{tf-admin.vip_port}}" }
                }
            ]
        }
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "healthChecks": [
        {
            "path": "/",
            "protocol": "HTTP",
            "portIndex": 0,
            "gracePeriodSeconds": 180,
            "intervalSeconds": 10,
            "timeoutSeconds": 5,
            "maxConsecutiveFailures": 3,
            "ignoreHttp1xx": false
        }
    ],
    "maxLaunchDelaySeconds": 20,  
    "labels": {
            "HAPROXY_GROUP": "external",
            "HAPROXY_0_ENABLED": "true",
            "HAPROXY_0_VHOST": "admin.tradefora.com",
            "HAPROXY_0_REDIRECT_TO_HTTPS": "true"
    },
    "env": {
        "TARGET_CLUSTER": "{{tf-ui.env}}"
    }

}
