{
    "id": "/{{haproxy-vip-public.name}}",
    "cpus": {{haproxy-vip-public.cpus}},
    "mem": {{haproxy-vip-public.memory}},
    "disk": {{haproxy-vip-public.disk}},
    "instances": {{haproxy-vip-public.instances}},
    "ports": [
	9090,
	80,
	443,
        9080,
        9081,
        9082,
        9083,
        9084,
        8888,
        5601,
        9200,
        3306,
        9092,
        10003,
        10005,
        10006,
        10004,
        20070,
        20075,
        30010,
        27017,
        4242
    ],
    "acceptedResourceRoles": ["slave_public"],
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{resource.assets.container.docker.haproxy-vip-public}}",
            "network": "HOST"
        }
    },
    "requirePorts": true,
    "env": {
        "CONFIGURL": "{{resource.assets.uris.haconfig}}"
    },
    "maxLaunchDelaySeconds": 20,
    "healthChecks": [
        {
            "protocol": "HTTP",
            "path": "/haproxy?stats",
            "portIndex": 0,
            "gracePeriodSeconds": 20,
            "intervalSeconds": 10,
            "timeoutSeconds": 5,
            "maxConsecutiveFailures": 3
        }
    ]
}
