{
    "id": "/tradefora/{{app.name}}",
    "cpus": {{app.cpus}},
    "mem": {{app.memory}},
    "disk": {{app.disk}},
    "instances": {{app.instances}},
    "env": {
      "VIP": "{{app.vip-host}}",
      "CLUSTER":"{{app.env}}",
      "ARTIFACT_REPO": "{{app.artifact.repo}}",
      "ARTIFACT_GROUP": "{{app.artifact.group}}",
      "ARTIFACT_ID": "{{app.artifact.artifactId}}",
      "ARTIFACT_PACKAGING": "{{app.artifact.packaging}}",
      "ARTIFACT_CLASSIFIER": "{{app.artifact.classifier}}",
      "SPRING_PROFILES": "{{app.config.spring.profiles}}"
    },
    "cmd": "export JAVA_HOME=$MESOS_DIRECTORY/jre && ./artifact-resolver.sh -u nexus:nexus -r $ARTIFACT_REPO -g $ARTIFACT_GROUP -a $ARTIFACT_ID -c $ARTIFACT_CLASSIFIER -p $ARTIFACT_PACKAGING && $JAVA_HOME/bin/java -jar -Xms$(expr ${MARATHON_APP_RESOURCE_MEM%.*} - 2048)M -Xmx$(expr ${MARATHON_APP_RESOURCE_MEM%.*} - 2048)M -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=$MESOS_DIRECTORY -DweavingMode=compile -XX:+PrintGCDetails -XX:+PrintGCDateStamps -Xloggc:$MESOS_DIRECTORY/gc.log -Djava.security.egd=file:/dev/./urandom -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=$PORT1 -XX:+UseG1GC -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -Dfile.encoding=UTF-8 -Dspring.profiles.active=$SPRING_PROFILES -Dserver.port=$PORT0 -Dsecurity.basic.enabled=false -Dendpoints.metrics.enabled=true -Dkafka.consumer.initialOffset=latest -Dkafka.consumer.maxPollRecords=1000 *$ARTIFACT_CLASSIFIER.jar",
    "uris":[
        "{{resource.assets.uris.artifact-resolver-tgz}}",
        "{{resource.assets.uris.jre-tgz}}"
    ],
    "portDefinitions": [
      {"port": 0}, {"port": 0}
    ],
    "healthChecks": [
      {
        "gracePeriodSeconds": 300,
        "ignoreHttp1xx": false,
        "intervalSeconds": 60,
        "maxConsecutiveFailures": 6,
        "path": "/health",
        "portIndex": 0,
        "protocol": "HTTP",
        "timeoutSeconds": 120,
        "delaySeconds": 15
      }
    ]
}
