{
    "id": "/tradefora/{{app.name}}",
    "cpus": {{app.cpus}},
    "mem": {{app.memory}},
    "disk": {{app.disk}},
    "instances": {{app.instances}},
    "acceptedResourceRoles": ["*", "slave_public"],
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{resource.assets.container.docker.app}}",
            "network": "BRIDGE",
            "privileged": false,
            "forcePullImage": {{app.force-pull-image}},
            "portMappings": [
                {
                    "containerPort": {{app.container-port}},
                    "hostPort": {{app.host-port}},
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{app.vip-host}}:{{app.vip-port}}" }
                }
            ]
        }
    },
    "env": {
        "APP_OPTS":"{{app.opts}}",
        "CLUSTER": "{{app.target-cluster}}"
        "JVM_MAX_MEM": "{{app.jvm-heap-size}}"
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "healthChecks": [],
    "labels": {
        "HAPROXY_GROUP": "external",
        "HAPROXY_0_ENABLED": "true"
    },
    "taskKillGracePeriodSeconds": 60
}
