{
  "id": "/flink/jobmanager",
  "cpus": {{jobmanager.cpus}},
  "mem": {{jobmanager.mem}},
  "disk": {{jobmanager.disk}},
  "instances": {{jobmanager.instances}},
  "cmd": "export JAVA_HOME=$MESOS_SANDBOX/jre; flink-*/bin/mesos-session",
  "env": {
    "FLINK_ENV_JAVA_HOME": "{{env.java_home}}",
    "FLINK_ENV_JAVA_OPTS": "{{env.java_opts}}",
    "FLINK_ENV_LOG_DIR": "{{env.log_dir}}",
    "FLINK_PROCESS_NAME": "jobmanager",
    "FLINK_JM_HEAP": "{{jobmanager.mem}}",
    "FLINK_JM_JAVA_OPTS": "{{jobmanager.java_opts}}",
    "FLINK_JM_HOSTNAME": "{{jobmanager.rpc.address}}",
    "FLINK_JM_WEB_HISTORY": "{{jobmanager.web.histroy}}",
    "FLINK_JM_WEB_CHECKPOINTS_DISABLE": "{{jobmanager.web.checkpoints_disable}}",
    "FLINK_JM_WEB_CHECKPOINTS_HISTORY": "{{jobmanager.web.checkpoints_histroy}}",
    "FLINK_JM_WEB_BACKPRESSURE_CLEANUP_INTERVAL": "{{jobmanager.web.backpressure_cleanup_interval}}",
    "FLINK_JM_WEB_BACKPRESSURE_REFRESH_INTERVAL": "{{jobmanager.web.backpressure_refresh_interval}}",
    "FLINK_JM_WEB_BACKPRESSURE_NUM_SAMPLES": "{{jobmanager.web.backpressure_num_samples}}",
    "FLINK_JM_WEB_BACKPRESSURE_DELAY_BETWEEN_SAMPLES": "{{jobmanager.web.backpressure_delay_between_samples}}",
    "BLOB_STORAGE_DIR": "{{blob.storage_dirs}}",
    "BLOB_FETCH_RETRIES": "{{blob.fetch_retries}}",
    "BLOB_FETCH_NUM_CONCURRENT": "{{blob.fetch_num_concurrent}}",
    "BLOB_FETCH_BACKLOG": "{{blob.fetch_backlog}}",
    "FS_DEFAULT_SCHEME": "{{fs.default_scheme}}",
    "FS_OVERWRITE_FILES": "{{fs.overwrite_files}}",
    "FS_OUTPUT_ALWAYS_CREATE_DIRECTORY": "{{fs.output_always_create_directory}}",
    "FS_HDFS_HADOOPCONF": "{{fs.hadoopconf}}",
    "FS_HDFS_HDFSDEFAULT": "{{fs.hdfs_default}}",
    "FS_HDFS_HDFSSITE": "{{fs.hdfs_site}}",
    "COMPILER_DELIMITED_INFORMAT_MIN_LINE_SAMPLES": "{{compiler.delimited_informat_min_line_samples}}",
    "COMPILER_DELIMITED_INFORMAT_MAX_LINE_SAMPLES": "{{compiler.delimited_informat_max_line_samples}}",
    "COMPILER_DELIMITED_INFORMAT_MAX_SAMPLE_LEN": "{{compiler.delimited_informat_max_sample_len}}",
    "AKKA_ASK_TIMEOUT": "{{akka.ask_timeout}}",
    "AKKA_LOOKUP_TIMEOUT": "{{akka.lookup_timeout}}",
    "AKKA_FRAME_SIZE": "{{akka.frame_size}}",
    "AKKA_WATCH_HEARTBEAT_INTERVAL": "{{akka.watch.heartbeat_interval}}",
    "AKKA_WATCH_HEARTBEAT_PAUSE": "{{akka.watch.heartbeat_pause}}",
    "AKKA_WATCH_THRESHOLD": "{{akka.watch.threshold}}",
    "AKKA_TRANSPORT_HEARTBEAT_INTERVAL": "{{akka.transport.heartbeat_interval}}",
    "AKKA_TRANSPORT_HEARTBEAT_PAUSE": "{{akka.transport.heartbeat_pause}}",
    "AKKA_TRANSPORT_THRESHOLD": "{{akka.transport.threshold}}",
    "AKKA_TCP_TIMEOUT": "{{akka.tcp_timeout}}",
    "AKKA_THROUGHPUT": "{{akka.throughput}}",
    "AKKA_LOG_LIFECYCLE_EVENTS": "{{akka.log_lifecycle_events}}",
    "AKKA_STARTUP_TIMEOUT": "{{akka.startup_timeout}}",
    "RECOVERY_MODE": "{{recovery.mode}}",
    "RECOVERY_ZOOKEEPER_QUORUM": "{{recovery.zookeeper.quorum}}",
    "RECOVERY_ZOOKEEPER_PATH_ROOT": "{{recovery.zookeeper.path.root}}",
    "RECOVERY_ZOOKEEPER_PATH_NAMESPACE": "{{recovery.zookeeper.path.namespace}}",
    "RECOVERY_ZOOKEEPER_PATH_JOBGRAPHS": "{{recovery.zookeeper.path.jobgraphs}}",
    "RECOVERY_ZOOKEEPER_PATH_CHECKPOINTS": "{{recovery.zookeeper.path.checkpoints}}",
    "RECOVERY_ZOOKEEPER_PATH_CHECKPOINT_COUNTER": "{{recovery.zookeeper.path.checkpoint-counter}}",
    "RECOVERY_ZOOKEEPER_PATH_LATCH": "{{recovery.zookeeper.path.latch}}",
    "RECOVERY_ZOOKEEPER_PATH_LEADER": "{{recovery.zookeeper.path.leader}}",
    "RECOVERY_ZOOKEEPER_CLIENT_SESSION_TIMEOUT": "{{recovery.zookeeper.client.session_timeout}}",
    "RECOVERY_ZOOKEEPER_CLIENT_CONNECTION_TIMEOUT": "{{recovery.zookeeper.client.connection_timeout}}",
    "RECOVERY_ZOOKEEPER_CLIENT_RETRY_WAIT": "{{recovery.zookeeper.client.retry_wait}}",
    "RECOVERY_ZOOKEEPER_CLIENT_MAX_RETRY_ATTEMPTS": "{{recovery.zookeeper.client.max_retry_attempts}}",
    "RECOVERY_ZOOKEEPER_STORAGE_DIR": "{{recovery.zookeeper.storageDir}}",
    "RECOVERY_JOB_DELAY": "{{recovery.job_delay}}",
    "RESTART_STRATEGY": "{{restart.strategy}}",
    "RESTART_STRATEGY_FIXED_DELAY_ATTEMPTS": "{{restart.strategy.fixed_delay.attempts}}",
    "RESTART_STRATEGY_FIXED_DELAY_DELAY": "{{restart.strategy.fixed_delay.delay}}",
    "FLINK_PARALLELISM": "{{parallelism_default}}",
    "TASK_CANCELATION_INTERVAL": "{{task_cancellation_interval}}",
    "STATE_BACKEND": "{{state_backend.type}}",
    "STATE_SAVEPOINTS_DIR": "{{state_backend.savepointsDir}}",
    "STATE_CHECKPOINTS_DIR": "{{state_backend.checkpointsDir}}",
    "STATE_BACKEND_FS_CHECKPOINT_DIR": "{{state_backend.fsCheckpointsDir}}"
  },
  "uris": [
    "{{resource.assets.uris.jre-tar-gz}}",
    "{{resource.assets.uris.flink_tgz}}"
  ],
  "portDefinitions": [
    {
      "port": {{jobmanager.rpc.port}},
      "protocol": "tcp",
      "name": "rpc",
      "labels": {
        
      }
    },
    {
      "port": {{jobmanager.web.port}},
      "protocol": "tcp",
      "name": "web",
      "labels": { "VIP_0": "{{jobmanager.vip_host}}:{{jobmanager.vip_port}}" }
    },
    {
      "port": {{blob.server_port}},
      "protocol": "tcp",
      "name": "blob",
      "labels": {
      }        
    },
    {
      "port": {{akka.tcp_port}},
      "protocol": "tcp",
      "name": "akka",
      "labels": {

      }
    }
  ],
  "healthChecks": [
    {
      "protocol": "TCP",
      "portIndex": 0,
      "gracePeriodSeconds": 600,
      "intervalSeconds": 15,
      "timeoutSeconds": 60,
      "maxConsecutiveFailures": 3,
      "ignoreHttp1xx": false
    },
    {
      "protocol": "TCP",
      "portIndex": 2,
      "gracePeriodSeconds": 600,
      "intervalSeconds": 15,
      "timeoutSeconds": 60,
      "maxConsecutiveFailures": 3,
      "ignoreHttp1xx": false
    }
  ],
  "constraints": [
    [
      "hostname",
      "UNIQUE"
    ]
  ],
  "acceptedResourceRoles": ["*", "slave_public"]
}
