{
  "id":"{{service.name}}",
  "cpus":0.5,
  "mem":512.0,
  "disk":100,
  "instances":1,
  "labels": {
    "DCOS_PACKAGE_FRAMEWORK_NAME": "{{service.name}}"
  },
  "env": {
    "MESOS_HBASE_FRAMEWORK_NAME" : "{{hbase.framework-name}}",
    "MESOS_HBASE_ROLE" : "{{hbase.role}}"
  },
  "cmd": "export JAVA_HOME=$MESOS_DIRECTORY/jre1.7.0_76 && cd hbase-mesos-1.2.0 && ./bin/hbase-mesos",
  "uris":[
    "{{resource.assets.uris.hbase-mesos-scheduler}}",
    "{{resource.assets.uris.jre-tar-gz}}"
  ],
  "healthChecks": [
    {
      "protocol": "HTTP",
      "portIndex": 0,
      "path": "/hbase-site.xml",
      "gracePeriodSeconds": 800,
      "maxConsecutiveFailures": 3,
      "intervalSeconds":60,
      "timeoutSeconds":60
    }
  ]
}
