{
    "id": "/tradefora/{{app.name}}",
    "cpus": {{app.cpus}},
    "mem": {{app.memory}},
    "disk": {{app.disk}},
    "instances": {{app.instances}},
    "acceptedResourceRoles": ["*", "slave_public"],
    "container": {
        "type": "DOCKER",
        "volumes": [],
        "docker": {
            "image": "{{resource.assets.container.docker.app}}",
            "network": "BRIDGE",
            "privileged": false,
            "forcePullImage": {{app.force-pull-image}},
            "portMappings": [
                {
                    "containerPort": {{app.container-port}},
                    "hostPort": {{app.host-port}},
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{app.vip_host}}:{{app.vip_port}}" }
                }
            ]
        }
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "healthChecks": [
        {
      "gracePeriodSeconds": 180,
      "intervalSeconds": 30,
      "maxConsecutiveFailures": 10,
      "portIndex": 0,
      "timeoutSeconds": 10,
      "delaySeconds": 15,
      "protocol": "MESOS_HTTP",
      "path": "/"
    }
    ],
    "maxLaunchDelaySeconds": 20,
    "labels": {
        "HAPROXY_GROUP": "external",
        "HAPROXY_0_ENABLED": "true",
        "HAPROXY_0_VHOST": "dataguard.tradefora.com",
        "HAPROXY_0_REDIRECT_TO_HTTPS": "true"
    },
    "env": {
        "TARGET_CLUSTER": "{{app.env}}"
    }
}
