{
    "id": "{{service.name}}",
    "cpus": {{grafana.cpus}},
    "mem": {{grafana.mem}},
    "instances": {{grafana.instances}},
    "container": {
        "type": "DOCKER",
        "docker": {
            "image": "{{resource.assets.container.docker.grafana}}",
            "network": "BRIDGE",
            "portMappings": [
                {
                    "containerPort": 3000,
                    "hostPort": 0,
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{grafana.vip_host}}:{{grafana.vip_port}}" }
                }
            ],
            "parameters": [
                {
                    "key": "volume-driver",
                    "value": "flocker"
                },
                {
                    "key": "volume",
                    "value": "grafanadata:/var/lib/grafana"
                }
            ],
            "privileged": false,
            "forcePullImage": {{grafana.force-pull-image}}
        }
    }
}
