{
    "id": "/tradefora/{{tf-cms.name}}",
    "cpus": {{tf-cms.cpus}},
    "mem": {{tf-cms.memory}},
    "disk": {{tf-cms.disk}},
    "instances": {{tf-cms.instances}},
    "acceptedResourceRoles": ["*", "slave_public"],
    "container": {
        "type": "DOCKER",
        "volumes": [],
        "docker": {
            "image": "{{resource.assets.container.docker.tf-cms}}",
            "network": "BRIDGE",
            "privileged": false,
            "forcePullImage": {{tf-cms.force-pull-image}},
            "portMappings": [
                {
                    "containerPort": {{tf-cms.container-port}},
                    "hostPort": {{tf-cms.host-port}},
                    "protocol": "tcp",
                    "labels": { "VIP_0": "{{tf-cms.vip_host}}:{{tf-cms.vip_port}}" }
                }
            ]
        }
    },
    "uris":  [
        "{{resource.assets.uris.docker-tgz}}"
    ],
    "env": {
        "MONGODB_PORT_27017_TCP_ADDR": "{{tf-cms.vip_mongo_host}}",
        "MONGODB_PORT_27017_TCP_PORT": "{{tf-cms.vip_mongo_port}}"
    },
    "healthChecks": [
        {
            "path": "/",
            "protocol": "HTTP",
            "portIndex": 0,
            "gracePeriodSeconds": 180,
            "intervalSeconds": 10,
            "timeoutSeconds": 5,
            "maxConsecutiveFailures": 3,
            "ignoreHttp1xx": false
        }
    ],
    "maxLaunchDelaySeconds": 20,
      "labels": {
    "HAPROXY_GROUP": "external",
    "HAPROXY_0_ENABLED": "true",
    "HAPROXY_0_VHOST": "cms.tradefora.com"
  }
}
