{
    "id": "{{hazelcast.name}}",
    "cpus": {{hazelcast.cpus}},
    "mem": {{hazelcast.memory}},
    "instances": {{hazelcast.instances}},
    "env": {
        "HZ_VERSION": "{{hazelcast.hazelcast-version}}",
        "NUMBER_OF_NODES": "{{hazelcast.number-of-nodes}}",
        "CPU_PER_NODE": "{{hazelcast.cpu-per-node}}",
        "MEMORY_PER_NODE": "{{hazelcast.memory-per-node}}",
        "MESOS_ZK": "{{hazelcast.mesos-zk}}",
        "HZ_MEMBER_MIN_HEAP": "{{hazelcast.member_min_heap}}",
        "HZ_MEMBER_MAX_HEAP": "{{hazelcast.member_max_heap}}",
        "GROUP_NAME": "{{hazelcast.group-name}}",
        "GROUP_PASSWORD": "{{hazelcast.group-password}}",
        "HAZELCAST_DISCOVERY_ENABLED": "{{hazelcast.hazelcast.discovery.enabled}}",
        "HAZELCAST_REST_ENABLED": "{{hazelcast.hazelcast.rest.enabled}}",
        "MANAGEMENT_CENTER_ENABLED": "{{hazelcast.management-center.enabled}}",
        "MANAGEMENT_CENTER_URL": "{{hazelcast.management-center.url}}",
        "ZOOKEEPER_URL": "{{hazelcast.zookeeper_url}}",
        "ZOOKEEPER_PATH": "{{hazelcast.zookeeper_path}}"
    },
    "cmd": "export JAVA_HOME=$MESOS_DIRECTORY/jre && cd hazelcast-mesos-0.2-SNAPSHOT && $JAVA_HOME/bin/java -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=$PORT_DBG -cp hazelcast-mesos-scheduler.jar HazelcastMain",
    "uris":[
        "{{resource.assets.uris.hazelcast-mesos-distrib}}",
        "{{resource.assets.uris.jre-tgz}}"
    ],
    "portDefinitions": [
        {
            "port": 0,
            "name": "svc"
        },
        {
            "port": 0,
            "name": "dbg"
        }
    ]
}
